:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

#conteudos {
    background-image: url('../Fotos/fundo_textura.png');
    align-items: left;
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding-top: 50px;
    height: 500px;
    position: relative;
}

.DivConteudos {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

div > p.CStitulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--cinza_claro);
}

div > p.Csubtitulo {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: 700;
    color: white;
}

div > p.Csubtitulo > span.CtxtDif1 {
    color: var(--amarelo);
}

div > p.Ctxt1 {
    color: white;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
}

div > p.Ctxt1 > span.CtxtDif2 {
    color: var(--amarelo);
    letter-spacing: 1.2px;
    margin-top: 52px;
}

div.DivConteudos > div > a > button#primeiro, button#segundo {
    background-color: #5C9DF6;
    width: 443px;
    height: 81px;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    margin-top: 50px;
    border: 0;
    color: white;
    font-family: inherit;
    font-weight: bolder;
    font-size: 24px;
}

div.DivConteudos > div > a > button#primeiro:hover, div > a > button#segundo:hover {
    background-color: var(--amarelo);
    box-shadow: 0px 25px 50px 0px rgba(207, 221, 25, 0.50);
    color: rgba(37, 13, 13, 0.644);
    transform: scale(1.1);

}

div > a > button#segundo {
    display: none;
}

div > img#ebook {
    height: 400px;
    margin-left: 300px;
}

div > img#ebook:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 345px) and (max-width: 768px) {
    #conteudos {
        height: 700px;
    }
    .DivConteudos {
        flex-direction: column;
        padding-left: 50px;
    }

    div > img#ebook {
        height: 200px;
        margin-left: -100px;
    }

    div.DivConteudos > div > a > button#primeiro {
        display: none;
    }


    div > a button#segundo {
        display: block;
        margin-right: 90px;
        width: 237px;
        height: 47px;
        font-size: 14px;

    }

    div > p.CStitulo {
        font-size: 24px;
    }

    div > p.Csubtitulo {
        font-size: 35px;
    }


    div > p.Ctxt1 {
        font-size: 20px;
    }

    div > p.Ctxt1 > span.CtxtDif2 {
        color: var(--unect-branco, #F2F3F4);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.12px;
    }
}



@media screen and (min-width: 1980px) {
    .DivConteudos {
        padding-left: 420px;
    }

    div > img#ebook {
        margin-left: 750px;
    }

}

@media screen and (min-width: 1220px) and (max-width: 1980px) {
    div.DivConteudos > div > a > button#primeiro, button#segundo {
        margin-top: 10;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1220px) {
    div > img#ebook {
        margin-left: -100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
    div > img#ebook {
        margin-left: -100px;
    }
}

@media screen and (max-width: 768px) {
    #conteudos {
        height: 900px;
    }
    .DivConteudos {
        flex-direction: column;
    }

    div > img#ebook {
        margin-left: -100px;
        height: 300px;
    }

    div.DivConteudos > div > a > button#primeiro {
        display: none;
    }

    div > a button#segundo {
        display: block;
        margin-right: 90px;
    }

}








