:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

#diferenciais {
  background-color: #333;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;

}

#diferenciais > div#borda {
  position: relative;
} 

#diferenciais > div#borda > img#direita {
  position: absolute;
  top: 0;
  right: 0;
}

#diferenciais > div#borda > img#esquerda {
  position: absolute;
  margin-top: 226px;
  left: 0;
}

section#diferenciais > p.titulo {
  padding-top: 30px;
  padding-left: 100px;
  margin: 0;
  color: var(--amarelo);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

section#diferenciais > p.subtitulo {
  margin-bottom: 60px;
  padding-left: 100px;
  color: var(--cinza_claro, #F2F3F4);
  font-family: Nunito;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

div.card-wraper{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  z-index: 1;
  padding-right: 100px;
  padding-left: 100px;
}

div.card-wraper::-webkit-scrollbar {
  display: none;
}

div.card-wraper {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 

div.carrossel {
  align-self: center;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  column-gap: 45px;
  flex-flow: row nowrap;
  padding-bottom: 10px;
}

div.card {
  width: 330px;
  height: 340px;
  padding-top: 75px;
  border-radius: 20px;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.25);
  background: #4d4d4d;
  align-items: center; 
  text-align: center;
  z-index: 1;
  margin-bottom: 100px;
  transition: 0.6s ease;
}

div.card > h1 {
    color: white;
}

div.card> hr {
    border: 2px solid var(--amarelo);
}

div.card > p {
  color: var(--cinza_claro);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 15px 0 15px;
}

@media screen and (max-width: 1290px){
  div.card-wraper{
    justify-content: flex-start;
    padding-right: 200px;
    padding-left: 200px;
  }

  #diferenciais > div#borda > img#direita {
    width: 300px;
  }
  
  #diferenciais > div#borda > img#esquerda {
    margin-top: 286px;
  }

  div.card > p {
    font-size: 14px;
  }

}

@media screen and (max-width: 660px){
  div.card-wraper{
    justify-content: flex-start;
    padding-left: 200px;
  }

  #diferenciais > p.subtitulo{
    width: 307px;
  }

  #diferenciais > div#borda > img#direita {
    width: 150px;
  }
  
  #diferenciais > div#borda > img#esquerda {
    width: 300px;
    margin-top: 559px;
  }

} 


