:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

@media screen and (max-width: 1014px) {
    h1.Ftxt1 {
        font-size: 22px;
    }

    p.Ftxt2, p.Ftxt3, p.Ftxt4 {
        font-size: 18px;
    }

    img.Fimg2 {
        display: none;
    }

    div.container {
        flex-direction: column; /* Empilhar verticalmente os elementos dentro da coluna */
    }

    div.colunaF {
        margin-bottom: 10px;
        margin-top: 10px;
        position: static;
    }

    h1.Ftxt1 {
        font-size: 25px;
    }

    p.Ftxt2 {
        font-size: 15px;
    }

    p.Ftxt3, p.Ftxt4 {
        font-size: 15px;
    }

    img.Fimg1 {
        height: 40px;
    }
}

footer {
    background-color: #494a4b;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

 .colunaF {
    margin-top: 30px;
    width: 25%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    height: 250px;
    text-align: left;
    padding-left: 150px;
    margin-bottom: 200px;
} 

.Ftxt1 {
    color: var(--cinza_claro);
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Ftxt2 {
    box-sizing: border-box;
    color: var(--cinza_claro);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.Ftxt3, .Ftxt4{
    color:var(--cinza_claro);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    letter-spacing: 1px;
    text-underline-offset: 10px;
    transition: color 0.5s, text-decoration 0.5s;
    cursor: pointer;
    margin: 0px;
}

p.Ftxt3 {

}

.Ftxt3:hover {
    color:var(--azul_escuro);
    border-bottom: 3px solid var(--azul_escuro);
    padding-bottom: 8px;
}

.Fimg1 {
    margin-top: 30px;
    display: flex;
}

#animated_image {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#animated_image:hover {
    transform: translateY(-5px);
}

a {
    text-decoration:none;
}


a:hover{
    color:var(--azul_claro);
   
}
 
