:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

@media screen and (max-width: 1102px) {
    header.header {
        height: 15vh;
    }

    .Logo {
        height: 55px;
        margin-left: -20px;

    }

    .Menu {
        display: none;
    }
}

.header {
    background-color: #1F64C5;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    display:flex;
    padding: 0px 150px;
}

.Logo {
    height: 88px;
    margin-left: -20px;

}


.Htxt1 {
    text-decoration: none;
    color: var(--cinza_claro);
    display: inline-block;
    font-size: 24px;
    margin-left: 30px;
    margin: auto;

}

.Htxt1:hover {
    text-decoration: underline;
    color: var(--amarelo);
}

