:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

.header {
    background-color: #1F64C5;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    display:flex;
    padding: 0px 150px;
}

.Logo {
    height: 88px;
    margin-left: -20px;
    margin-top: 20px;

}

.Htxt1 {
    text-decoration: none;
    color: var(--cinza_claro);
    display: inline-block;
    font-size: 24px;
    margin-left: 30px;
    margin: auto;

}

.Htxt1:hover {
    text-decoration: underline;
    color: var(--amarelo);
}

#close, #hamburguer {
    display: none;
}




@media screen and (max-width: 1102px) {
    header.header {
        height: 15vh;
        position: sticky;
    }

    div > img.Logo {
        height: 64px;
        margin-left: -20px;

    }

    .Htxt1 {
        display: none;
    }


    #hamburguer {
        display: block;
        color: white; 
        margin-top: 20px;
    }

    nav.menu-mobile{
        display: flex;
        flex-direction: column;
        background-color:#174e9b;
        position: sticky;
    }

    nav.menu-mobile > ul > li{
        color: white;
        display: flex;
        width: 325x;
        height: 20px;
        margin: 10px 40px 0px 10px;
        padding: 12px 16px;
        background-color: var(--azul_escuro);
        border-radius: 6px;
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    nav.menu-mobile > ul > li > a {
        color: white;
    }

    span#close {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    header.header {
        justify-content: space-between;
    }

    #hamburguer {
        margin-left: 80px;
    }

    .Logo {
        float: left;
    }
    
}

