@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');



:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

#servicos {
    background-image: url(../Fotos/fundo_textura.png);
    background-size: cover;
    height: 680px;
    margin: 0px;
}

.DivServ {
    padding-left: 100px;
    padding-top: 50px;
}

.NStitulo {
    color: rgba(242, 243, 244, 0.80);
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    margin: 0px;
}

.NSCarrossel {
    display: flex;
    margin-left: 300px;
    column-gap: 30px;
    
}
.NSsubtitulo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
}

.NSCards {
    margin-top: 20px;
    width: 275px;
    height: 360px;
    flex-shrink: 0;
    background-color: var(--azul_claro);
    border-radius: 20px;
    text-align: center;
    color: white;
    
}

.icone-browser {
    margin-top: 30px;
    height: 60px;

}

.NStxt1 {
    font-size: 16px;
}

.NStxt2-browser {
    color:var(--amarelo);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 20px 80px;
    text-decoration: underline;
}

.NStxt2-hdd {
    color:var(--amarelo);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 0px 73px;
    text-decoration: underline;
}

.NStxt2-mobile {
    color:var(--amarelo);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    margin: 33px 70px;
    text-decoration: underline;
}

.NStxt3-browser {
    color: var(--unect-branco, #F2F3F4);
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-top: 30px;
    margin-left: 10px;
    position:static;
}

.NStxt3-hdd {
    color: var(--unect-branco, #F2F3F4);
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-top: 40px;
    margin-left: 10px;
    position:static;
}

.NStxt3-mobile {
    color: var(--unect-branco, #F2F3F4);
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-top: 40px;
    margin-left: 10px;
    position:static;
}

svg#line-1 {
    float: right;
    margin-top: 30px;
}

svg#line-2 {
    float: left;
    position: relative;
    bottom: 7%;
}

svg#line-3 {
    float: right;
    margin-top: 14px;
}

svg#line-4 {
    float: left;
}

svg#line-5 {
    float: right;
    margin-top: 30px;
}

svg#line-6 {
    float: left;
    position: relative;
    bottom: 9.5%;
}

.PontoCard {
    color:var(--amarelo);
    padding-bottom: 5px;
}

.SBotao {
    text-align: center;
    margin-top: 50px;
}

.SBotao-Text {
    background-color: var(--amarelo);
    width: 275px;
    height: 47px;
    border: 0px;
    border-radius: 20px;
    color: var(--unect-verde-escuro, #505C2D);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0px 25px 50px 0px rgba(207, 221, 25, 0.50);

}

@media screen and (max-width: 1187px) {
    div.NSCarrossel {
        margin-left: 140px;
    }
}

@media screen and (max-width: 1074px) {
    div.NSCarrossel {
        margin-left: 200px;
    }

    div.NSCards {
        height: 300px;
        width: 200px;
    }

    .NStxt1 {
        font-size: 13px;
    }

    .NStxt2-browser, .NStxt2-hdd, .NStxt2-mobile {
        font-size: 10px;
    }

    .NStxt2-browser {
        margin: 25px 40px;
    }

    .NStxt2-hdd {
        margin: 0 40px;
    }

    .NStxt2-mobile {
        margin: 20px 10px;
    }

    svg#line-1, svg#line-2, svg#line-3, svg#line-4, svg#line-5, svg#line-6  {
        display: none;
    }

    .NStxt3-browser, .NStxt3-hdd, .NStxt3-mobile {
        font-size: 11px;

    }

    .NStxt3-browser {
        margin-top: 5px;
    }

    .NStxt3-hdd {
        margin-top: 20px
    }

    .NStxt3-mobile {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1014px) {
    div.NSCarrossel {
        margin-left: 140px;
    }

    .NStxt2-browser {
        font-size: 14px;
        margin: 20px 80px;
    }
    
    .NStxt2-hdd {
        font-size: 14px;
        margin: 0px 73px;
 
    }
    
    .NStxt2-mobile {
        font-size: 14px;
        margin: 33px 70px;
    }
    
    .NStxt3-browser {
        font-size: 14px;
        margin-top: 30px;
        margin-left: 10px;
        position:static;
    }
    
    .NStxt3-hdd {
        font-size: 14px;
        margin-top: 40px;
        margin-left: 10px;
        position:static;
    }
    
    .NStxt3-mobile {
        font-size: 14px;
        margin-top: 40px;
        margin-left: 10px;
        position:static;
    }
    
    svg#line-1, svg#line-2, svg#line-3, svg#line-4, svg#line-5, svg#line-6  {
        display: block;
    }
}

@media screen and (max-width: 845px) {
    div.NSCarrossel {
        margin-left: 80px;
    }

}

@media screen and (max-width: 802px) {
    div.NSCarrossel {
        margin-left: 70px;
    }
}

@media screen and (max-width: 754px) {
    div.NSCarrossel {
        margin-left: 30px;
    }
}

@media screen and (max-width: 734px) {
    div.NSCarrossel {
        margin-left: 10px;
    }
}

@media screen and (max-width: 707px) {
    #servicos {
        height: 1400px;
    }
    div.NSCarrossel {
        flex-direction: column;
        margin-left: 190px;
    }

    div.NSCards {
        height: 360px;
        width: 275px;
    }

    .NStxt1 {
        font-size: 16px;
    }

    .NStxt2 {
        font-size: 14px;
    }

    .NStxt3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 494px) {
    div.NSCarrossel {
        flex-direction: column;
        margin-left: 100px;
    }

}

@media screen and (max-width: 420px) {
    div.NSCarrossel {
        flex-direction: column;
        margin-left: 30px;
    }

    .DivServ {
        padding-left: 50px;
    }

    .SBotao {
        margin-right: 50px;

    } 

}


