@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
    --quase_preto: #000205;
    --azul_escuro: #1F64C5;
    --azul_claro: #226ED8;
    --amarelo: #CFDD19;
    --cinza_claro: #F2F3F4;
}

#sobre-nos {
    background-image: linear-gradient(#000205ea, #111111ee), url(/Fotos/time_foto.png);
    background-color: rgba(0, 0, 0, 0.9); 
    align-items: left;
    display: flex;
    flex-direction: row;
    background-size: cover;
    width: auto;
}

div.DIVsobre {
    display: flex;
}

div.DIVsobre > div.TextSOBRE {
    margin-left: 50px;
    margin-top: 90px;
}

div.DIVsobre > div.TextSOBRE > p.SNtitulo {
    font-family: ubuntu;
    font-size: 24px;
    font-weight: 500;
    color: #F2F3F4CC;
    position: relative;
}

div.DIVsobre > div.TextSOBRE > p.SNsubtitulo {
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    
}

div.DIVsobre > div.TextSOBRE > p.SNtxt1{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #DCDCDC;
    padding-bottom: 58px;
    position: relative;
    
}

div#SNcarousel-container {
    width: 500px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    margin-left: 200px;
    right: 0;
    margin-right: 50px;
    margin-top: 120px;
    
}
div#SNcarousel-container > span.SNcarouselTextUnderline > p.SNcarouselText{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-left: 310px;
    margin-bottom: 20px;
  
}

div#SNcarousel-container > span.SNcarouselTextUnderline{
    text-decoration: underline;
    color: #E0EB4F;
    text-underline-offset: 8px; 
} 

#SNcarousel {
    width: 300%;
    height: 406.25px;
    display: flex;
}
  
.SNcarousel-item {
    flex: 0 0 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
  
}

.SNtxt2{
    display: none;
}

@media screen and (max-width: 768px) {
    #sobre-nos{
        height: 926px;
        overflow: hidden;
    }

    div.DIVsobre{
        margin-top: -50px;
        padding-left: 50px;
    }

    div.DIVsobre > div.TextSOBRE > p.SNtitulo{
        color: rgba(242, 243, 244, 0.80);
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
    }

    div.DIVsobre > div.TextSOBRE > p.SNsubtitulo {
        position: absolute;
        color: #FFF;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
    }
    
    div.DIVsobre > div.TextSOBRE > p.SNtxt1{
        display: none;
    }
    .SNtxt2{
        position: absolute;
        color: #DCDCDC;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.6px;
        margin-top: 70px;
        display: flex;
    }
  
    div#SNcarousel-container{
        margin-top: 520px;
        position: relative;
        margin-left: -120px;
    }
    
    #SNcarousel{
        width: 300%;
        height: 257px;
  
    }
    div#SNcarousel-container > span.SNcarouselTextUnderline > p.SNcarouselText{
        color: var(--unect-branco, #F2F3F4);
        font-family: Ubuntu;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.5px;
        margin-left: 290px;
    }
}
  

@media screen and (min-width: 769px) and (max-width: 1061px) {

    #sobre-nos{
        height: 726px;
    }

    div.DIVsobre{
        margin-top: -50px;
    }

    div.DIVsobre > div.TextSOBRE > p.SNtitulo{
        color: rgba(242, 243, 244, 0.80);
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
      
    }
      div.DIVsobre > div.TextSOBRE > p.SNsubtitulo{
        color: #FFF;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
    }

    div.DIVsobre > div.TextSOBRE > p.SNtxt1{
        color: #DCDCDC;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.6px;
        margin-top: 18px;
    }

    div#SNcarousel-container{
        margin-top: 320px;
    }

    #SNcarousel{
        width: 300%;
        height: 257px;
    }

    .SNcarouselText{
        color: var(--unect-branco, #F2F3F4);
        font-family: Ubuntu;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.5px;
        margin-left: 290px;
    
    }

    div#SNcarousel-container > span.SNcarouselTextUnderline > p.SNcarouselText{
        font-size: 20px;
        margin-left: 240px;
    }
}




